body {
  background-color: #7cb9e8;
  font-size: 1.5rem;
  color: white;
  margin: 0;
  padding: 5rem;
}
img {
  max-width: 15rem;
  max-height: 20rem;
  border-radius: 1rem;
  border: 0.3rem solid;
}

nav {
  background-color: #6699cc;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1.2rem;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border: solid #6699cc;
}

nav a:hover {
  background-color: #7cb9e8;
}
.profile_page {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  margin: 0 10% 0 10%;
}

.profile_info {
  /* padding: 1rem; */
  flex: 0 0 33.3333333%;
}

.name {
  color: #7fffd4;
}

.available {
  color: #4a646c;
}

.profile_link {
  text-decoration: none;
  color: white;
}

a :hover {
  border: solid 0.3rem #7fffd4;
}

.title {
  text-align: center;
}

.profile {
  display: flex;
  justify-content: center;
}
.profile_details {
  padding: 2rem;
}
.profile_picture {
}
