{% extends "base.html" %} {% block title%} {{ pet.name }} {% endblock %}
{% block content %}
<h1>{{ pet.name }}</h1>
<div class=''>
        <img  class="profile_picture" src="{{pet.photo_url}}" alt="">
    <div class="profile_details">
        <p>  Species: {{ pet.species }} </p> 
        <p>  Age: {{ pet.age }}</p>
    </div>
</div>
<form action="" method="POST">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(type="hidden") }}
    {{ form.species.label }} {{ form.species(type="hidden") }}
    {{ form.photo_url.label }} {{ form.photo_url }} 
    {{ form.notes.label }} {{ form.notes }}
    {{ form.available.label }} {{ form.available }}
    {{ form.submit }}
    {% for err in form.errors %}
        {{ err }}
    {% endfor %}
</form>
{% endblock %}
