{% extends "base.html" %} {% block title %} Add Pet {% endblock %}
{% block content %}
<h1>Add Pet form</h1>
<form action="" method="POST">
    {{ form.csrf_token }}
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name }}
    {{ form.species.label }} {{ form.species }}
    {{ form.age.label }} {{ form.age }}
    {{ form.photo_url.label }} {{ form.photo_url }} 
    {{ form.notes.label }} {{ form.notes }}
    {{ form.available.label }} {{ form.available }}
    {{ form.submit }}
    {% for err in form.errors %}
        {{ err }}
    {% endfor %}
</form>

{% endblock %}
